@import '../../utils.scss';

.my-teams{
  background-color: $surface-color;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.05);
  position: relative;
  border-radius: 10px;
  width: 50%;
  height: 720px;
  margin-right: 25px;
  flex-direction: row;
}

div.title {
  height: 85px;
  width: 100%;
  padding: 30px;
  border-bottom: 1px solid #ddd;

  button.add-team {
    background: linear-gradient(90deg, $start-gradient-color, $end-gradient-color);
    box-shadow: 0 0 8px 0 $primary-color;
    float: right;
    font-size: 25px;
    height: 40px;
    width: 40px;
    color: #fff;
    border-radius: 10px;
    text-align: center;
    margin-top: -10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    cursor: pointer;
}

  span{
    font-size: 18pt;
    font-weight: 800;
    color: #552C8A;
  }
}

.table{
  padding: 0 15px;
  width: 100%;
}

.custom-header{
  background-color:#ccc;
}

.thead {
    width: 100%;
    height: 70px;
    
    .tr{
      color: #000;
      display: flex;
      flex-direction: column;
      align-items: center;
      flex-direction: row;
      width: 100%;
      height: 70px;

      &:first-child{
        border-bottom: 1px solid #ddd;
        .td{
         &:first-child{
          border-right: 1px solid #ddd;
          width: 200px;
         }
        }
      }

        &:last-child{
          margin-top: -70px;

          td{
              height: 70px;
          }
        }

    .td{
      text-align: left;
      width: 100%;
      height: 50%;
      padding-left: 15px;
      display: flex;
      align-items: center;
      font-weight: 600;
    }    
  }
}

.tbody {
  width: 100%;
  height: 50px;
  
  .tr{
    color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid #ddd;
    flex-direction: row;
    width: 100%;
    height: 50px;

  .td{
    text-align: left;
    width: 100%;
    height: 100%;
    padding-left: 15px;
    display: flex;
    align-items: center;
    font-weight: 600;

    &:first-child{
      width: 200px;
     }
  }    
}
}

@media (max-width: $layout-breakpoint-small) {
  .my-teams{
    margin-right: 0;
    margin-bottom: 25px;
    height: 300px; // !
    width: 100%;
  }

}