@import '../../utils.scss';

.manage-team{
  background-color: $surface-color;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  position: relative;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  margin: 30px;
}

.info{
  text-align: center;
  padding: 30px 0;
  font-weight: bold;
  color: #8D8D8D;
  font-size: 13pt;
}

.manage-team-content{
  display: flex;
  height: auto;
  padding: 0 7.5%;

  & > div{
    flex: 1;
    flex-direction: column;
    margin: 0 5%;
  }
}

.cards-players{
  width: 100%;
  height: auto;
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;  
}

#team-description{
  height: 225px;
}

#team-type{
  margin-top: 50px;
}

#tags{
  height: 108px;
}

#save{
  background-color:$end-gradient-color;
  border: 0 none;
  border-radius: 5px;
  margin: 10px;
  width: 100%;
  height: auto;
  padding: 15px 30px;
  margin: 5px 0px;
  color: #fff;
  font-size: 12pt;
}

@media (max-width: $layout-breakpoint-small){
  .manage-team-content{
    padding: 0!important;
    flex-direction: column;
  }
}
