@import '../../App.scss';

.top5{
  background-color: $surface-color;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  position: relative;
  margin-left: 25px;
  width: 50%;
  height: 47.5%;;
}

@media (max-width: $layout-breakpoint-small) {
  .top5{
    margin-left: 0;
    width: 100%;
  }
}