@import '../../App.scss';

.top5{
  background-color: $surface-color;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  position: relative;
  margin-left: 25px;
  width: 100%;
  height: 380px;
}

div.content{
  display: flex;
  padding: 0 10px;
  flex-direction: column;
  padding-bottom: 15px;

  div{
    flex: 1;
    padding: 0 15px;

    h4{
      font-weight: bold;
      color: #434343;
      margin: 20px 2px 10px;
    }

    div.ranking{
      width: 100%;
      height: auto;
      background-color: #E9E3E8;
      border-radius: 10px;
      padding: 5px;

      .team{
        width: 100%;
        height: 40px;
        background-color: #fff;
        border-radius: 5px;
        padding: 10px 20px;

        &:not(:first-child){
          margin-top: 5px;
        }

        span{
          font-size: 10pt;
        }

        .name{
          float: left;
        }
        .avg{
          float: right;
          font-weight: bold;
          color: #434343;
        }
      }      
    }
  }
}

@media (max-width: $layout-breakpoint-small) {
  .top5{
    margin-left: 0;
    width: 100%;
    height: auto;
  }
}

@media (min-width: $layout-breakpoint-small) {
  div.content{
    flex-direction: row;
  }
}